<section class="section section-clients">
  <div class="container">

    <header class="section-header">
      <h3>Some of our clients</h3>
    </header>

    <section class="logos">
      <%= image_tag 'logo-kbc.png' %>
      <%= image_tag 'logo-duvel.png' %>
      <%= image_tag 'logo-umicore.png' %>
      <%= image_tag 'logo-kinepolis.png' %>
      <%= image_tag 'logo-sony.png' %>
      <%= image_tag 'logo-vandemoortele.png' %>
      <%= image_tag 'logo-lijn.png' %>
      <%= image_tag 'logo-jules.png' %>
    </section><!-- / logos -->

  </div>
</section><!-- / section-clients -->
